<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS 3 Legislativa</title>
    <link rel="icon" type="image/png" href="../../../../../static/img/logo_ods_1.png"/>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
            crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/base.css">
    <link rel="stylesheet" href="../../../static/css/ods.css">
    <!-- end of Bootstrap CDN -->
    <link rel="stylesheet" href="../../../static/css/accordion.css">
</head>
<body>
    <!-- Content -->    
    <div class="panel-title title-div">

         <!-- Navigation menu bar -->
         <nav class="navbar">
          <a href="/" class="text-left p-2 nav-menu hover-underline-animation">HOME</a>
          <div class="nav-menu">
              <a href="../../index.html#herramienta-trabajo" class="text-right p-2 hover-underline-animation">Herramienta</a>
              <a href="../../grupo_trabajo.html" class="text-right p-2 hover-underline-animation">Grupo de trabajo</a>
              <a href="../../docs/Pacto-contra-la-Pobreza-cas-2.pdf" class="text-right p-2 hover-underline-animation" target="_blank">Pacto</a>
          </div>
      </nav>
        <!-- end of navigation menu bar -->
    
      <br>
      <br>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="ods-title">ODS 3 - Legislativa</h1>
          <h1 class="ods-title">Salud y bienestar</h1>                      
          <br>
          <p class="lead text-white">Garantizar una vida sana y promover el bienestar para todos en todas las edades</p>
          <p>
            <a href="../../../index.html" class="btn btn-secondary my-2">Atrás</a>
            <a href="ods-03-control.html" class="btn btn-primary my-2">Control</a>
            <a href="ods-03-economica.html" class="btn btn-primary my-2">Económica</a>
            <a href="https://www.un.org/sustainabledevelopment/es/health/" target="_blank" class="btn btn-primary my-2">Más info</a>
          </p>
        </div>
      </section>
        <br>
        <br>
    </div>

    <br>

<!-- Accordiion component -->

<div class="box">
    <div class="row">
        <div class="col">
          <!-- Accordion -->
          <div class="accordion">
            <details>
              <summary><strong class="text-white">PACTO</strong></summary>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 1 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento promoverá la regulación de la gratuidad de los medicamentos y 
                        vacunas a las personas para fomentar su adhesión a los tratamientos, así como el 
                        establecimiento de ayudas para dar respuesta a las necesidades de salud visual, 
                        auditiva y dental, también al acceso a elementos ortoprotésicos, artículos de 
                        higiene y elementos que protejan la salud colectiva. 
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Ayudas pago medicamentos y vacunas </strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        % Población beneficiaria del programa ayudas a medicamentos (TSI001)/ población potencial beneficiaria (Total TSI)
                        0/1/2
                    </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="http://www.navarra.es/home_es/Temas/Portal+de+la+Salud/Ciudadania/Servicios+on+line/Ayudas+medicamentos/" class="text-white underline">
                            http://www.navarra.es/home_es/Temas/Portal+de+la+Salud/Ciudadania/Servicios+on+line/Ayudas+medicamentos/
                        </a>    
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                  <!-- Indicador 2 -->
                  <details>
                    <summary><strong>Ayudas salud visual, auditiva y dental.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        % Población beneficiaria del programa de salud bucodental/ población potencial beneficiaria 0/1/2
                    </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="http://www.navarra.es/home_es/Temas/Portal+de+la+Salud/Ciudadania/Actualidad/Preguntas+frecuentes/Salud+Bucodental/" class="text-white underline">
                            http://www.navarra.es/home_es/Temas/Portal+de+la+Salud/Ciudadania/Actualidad/Preguntas+frecuentes/Salud+Bucodental/
                        </a>    
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                  <!-- Indicador 3 -->
                  <details>
                    <summary><strong>Ayudas ortoprotésicas</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        % Población beneficiaria del programa de productos ortoprotésicos/ población potencial beneficiaria 
                    </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="https://www.navarra.es/es/tramites/on/-/line/Adquisicion-reparacion-y-renovacion-de-diversos-productos-ortoprotesicos" class="text-white underline">
                            https://www.navarra.es/es/tramites/on/-/line/Adquisicion-reparacion-y-renovacion-de-diversos-productos-ortoprotesicos
                        </a>    
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 2 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento promoverá el desarrollo de una política de residuos cero: 
                        compostaje, sistema de depósito, devolución y retorno de envases, reutilización. 
                        Y desarrollará una política autonómica de Transición Ecológica de bajo impacto.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Residuos cero.</strong></summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        % Cantidad de residuos reciclables destinados a eliminación en vertedero/ 
                        cantidad de residuos reciclables generados.
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a class="text-white underline" href="http://presupuesto.navarra.es/es/">
                            http://presupuesto.navarra.es/es/
                        </a>
                      </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Única.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Moción.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 1</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                  <!-- Indicador 2 -->
                  <details>
                    <summary><strong>Transición ecológica de bajo impacto.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Residuos generados/PIB Navarra.
                    </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="http://www.navarra.es/home_es/Temas/Medio+Ambiente/Residuos/Inventarios+de+residuos.htm " class="text-white underline">
                            http://www.navarra.es/home_es/Temas/Medio+Ambiente/Residuos/Inventarios+de+residuos.htm 
                        </a>    
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 1,41 %</p>
                      <p><strong class="underline">Meta 2030</strong>: 0,00 %</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 3 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento promoverá la modernización del Catálogo Ortoprotésico, 
                        elaborando una regulación con la incorporación de nuevos productos, 
                        incluyendo un copago progresivo y la puesta en marcha de un sistema de prestación de productos de apoyo.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Modernización catálogo.</strong></summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        % Productos incluidos en catálogo Ortoprotésico/Productos totales ortoprotésicos solicitado.
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a class="text-white underline" href="http://www.lexnavarra.navarra.es/detalle.asp?r=10623">
                            http://www.lexnavarra.navarra.es/detalle.asp?r=10623
                        </a>
                      </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                  <!-- Indicador 2 -->
                  <details>
                    <summary><strong>Copago ortoprotésicos.</strong></summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        % Copago producto/coste total.
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: Osasunbidea.
                      </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                  <!-- Indicador 3 -->
                  <details>
                    <summary><strong>Apoyo ortoprotésico.</strong></summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        % Población cubierta por el programa de ayudas/población potencial beneficiaria.
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a class="text-white underline" 
                        href="https://www.navarra.es/es/tramites/on/-/line/ayudas-para-la-adquisicion-de-productos-de-apoyo-para-el-fomento-de-la-autonomia-personal-y-prevencion-de-la-dependencia-a-las-personas-mayores-y-o-a-personas-con-discapacidad-2022">
                        https://www.navarra.es/es/tramites/on/-/line/ayudas-para-la-adquisicion-de-productos-de-apoyo-para-el-fomento-de-la-autonomia-personal-y-prevencion-de-la-dependencia-a-las-personas-mayores-y-o-a-personas-con-discapacidad-2022  
                        </a>
                      </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
            </details>
          </div>
          <!-- End of accordion -->
        </div>      
        <div class="col">
            <img class="rounded img-fluid animate__animated animate__fadeInRight" src="../../../static/img/ejemplo_grafico.png">
        </div>
    </div>
</div>

<!-- End of accordion component -->

<div class="panel-footer"></div>

    <!-- end of content -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous"></script>
    <!-- Accordion JS -->
    <script src="../../../static/js/accordion.js"></script>
    <!--  -->
</body>
</html>