<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS 12 Control</title>
    <link rel="icon" type="image/png" href="../../../../../static/img/logo_ods_1.png"/>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
            crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/base.css">
    <link rel="stylesheet" href="../../../static/css/ods.css">
    <!-- end of Bootstrap CDN -->
    <link rel="stylesheet" href="../../../static/css/accordion.css">
</head>
<body>
    <!-- Content -->    
    <div class="panel-title title-div">

         <!-- Navigation menu bar -->
         <nav class="navbar">
          <a href="../.../../../../index.html" class="text-left p-2 nav-menu hover-underline-animation">HOME</a>
          <div class="nav-menu">
              <a href="../../index.html#herramienta-trabajo" class="text-right p-2 hover-underline-animation">Herramienta</a>
              <a href="../../grupo_trabajo.html" class="text-right p-2 hover-underline-animation">Grupo de trabajo</a>
              <a href="../../docs/Pacto-contra-la-Pobreza-cas-2.pdf" class="text-right p-2 hover-underline-animation" target="_blank">Pacto</a>
          </div>
      </nav>
        <!-- end of navigation menu bar -->
    
      <br>
      <br>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="ods-title">ODS 12 - Control</h1>
          <h1 class="ods-title">Producción y consumo responsables</h1>                      
          <br>
          <p class="lead text-white">Garantizar modalidades de consumo y producción sostenibles</p>
          <p>
            <a href="../../../index.html" class="btn btn-secondary my-2">Atrás</a>
            <a href="ods-12-control.html" class="btn btn-primary my-2">Control</a>
            <a href="ods-12-legislativa.html" class="btn btn-primary my-2">Legislativa</a>
            <a href="https://www.un.org/sustainabledevelopment/es/cities/" target="_blank" class="btn btn-primary my-2">Más info</a>
          </p>
        </div>
      </section>
        <br>
        <br>
    </div>

    <br>

<!-- Accordiion component -->

<div class="box">
    <div class="row">
        <div class="col">
          <!-- Accordion -->
          <div class="accordion">
            <details>
              <summary><strong class="text-white">PACTO</strong></summary>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 1 -->
              <details>
                <summary>
                    <strong>
                        El parlamento promoverá de forma efectiva la elaboración y el 
                        desarrollo de planes específicos de promoción del consumo crítico 
                        consciente y transformador, 
                        así como de promoción de los circuitos de mercado social de la economía 
                        social y solidaria basados en la cercanía, la sostenibilidad y los derechos laborales. 
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Indicadores del Plan de Promoción del consumo responsable primando los criterios sociales, ambientales y laborales.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Seleccionar los indicadores del futuro Plan Estratégico de Consumo contemplado previsto en Ley 
                        34/2022 Estatuto de las Pesonas consumidoras y usuarias.0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: Informe seguimiento futuro Plan de Consumo.
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Los del informe de seguimiento.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                    <hr style="background: #FFFFFF; height: 6px;">
                    <!-- Indicador 2 -->
                    <details>
                      <summary><strong>Promoción de la economía social y solidaria.</strong>
                      </summary>
                      <hr style="background: #FFFFFF; height: 3px;">
                        <p><strong class="underline">Descripción</strong>: 
                            Indicadores del Plan que se consideren más apropiados.0/1/2
                        </p>
                        <p><strong class="underline">Fuentes de origen</strong>: Informe seguimiento y valoración del Plan Integral de Economía Social.
                      </p>
                        <p><Strong class="underline">Periodicidad</Strong>: Según indicadores.</p>
                        <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                        <p><Strong class="underline">Línea de base</Strong>: 2 %</p>
                        <p><strong class="underline">Meta 2030</strong>: 6 %</p>
                        <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                      </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 2 -->
              <details>
                <summary>
                    <strong>
                        El parlamento promoverá el acceso a la información sobre el Consumo Producción Sostenible, apoyará la difusión de 
                        iniciativas y buenas prácticas que sensibilicen a la ciudadanía sobre la influencia del consumo local su impacto a nivel global. 
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Número de iniciativas y buenas prácticas.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Indicadores del Plan que valoren el número de iniciativas ejemplares y buenas prácticas.0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="https://gobiernoabierto.navarra.es/sites/default/files/ii_plan_integral_de_economia_social.pdf" class="text-white underline">
                            https://gobiernoabierto.navarra.es/sites/default/files/ii_plan_integral_de_economia_social.pdf    
                        </a>    
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Según indicadores.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 3 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento impulsará la concienciación de la ciudadanía en 
                        torno al consumo responsable a través de acciones de información, sensibilización y 
                        educación para el desarrollo, dirigidas a públicos diferentes: escolares, 
                        jóvenes, consumidores/as, tejido empresarial local /autonómico... 
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Actividades información, sensibilización y concienciación para el desarrollo dirigo a públicos diferentes. </strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Comprobar indicadores sobre sensibilizacion  y concienciación en los futuros planes de consumo.0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: Informe seguimiento futuro Plan de Consumo.
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Los del informe de seguimiento.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 4 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento promoverá campañas que incluyan el mapeo 
                        y la visibilización de entidades, productos y servicios de la economía social y solidaria.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Visibilización y reconocimiento de la Economía social.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Indicadores  de la Linea Actuación 2 del II PIES
                        Mapa de la Economía social y solidaria actualizado.
                        <a href="https://reasna.org/catalogo-mercado-social-navarra-2021/" class="text-white underline">
                            https://reasna.org/catalogo-mercado-social-navarra-2021/
                        </a>
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: informe de seguimiento o final del Plan de Economía Social vigente en cada momento.
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Interpelación.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 5 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento velará por priorizar el impulso de los circuitos cortos de comercialización, 
                        incluyendo medidas de apoyo al comercio de proximidad y 
                        local. (Mapeos, recuperación mercados locales, visibilización, campañas sobre 
                        consumo crítico consciente, facilitación de espacios y recursos).
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Empresas inscritas y ventas declaradas en circuitos cortos de comercialización.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Número de empresas inscritas en el futuro registro de venta directa y de proximidad derivado de la Ley de CCC.

                        Ventas anuales declaradas por dichas empresas.

                        0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="https://www.navarra.es/es/tramites/on/-/line/Censo-de-agricultores-y-ganaderos-con-venta-directa-de-los-productos-de-sus-explotaciones" class="text-white underline">
                            https://www.navarra.es/es/tramites/on/-/line/Censo-de-agricultores-y-ganaderos-con-venta-directa-de-los-productos-de-sus-explotaciones   
                        </a>    
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual a partir de la generación del registro.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                    <hr style="background: #FFFFFF; height: 6px;">
                    <!-- Indicador 2 -->
                    <details>
                      <summary><strong>Mercados locales.</strong>
                      </summary>
                      <hr style="background: #FFFFFF; height: 3px;">
                        <p><strong class="underline">Descripción</strong>: 
                            Número de mercados municipales semanales.
                        </p>
                        <p><strong class="underline">Fuentes de origen</strong>: 
                          <a href="https://www.navarra.es/NR/rdonlyres/0DE85E55-2BA3-497F-B7C0-8862D605B5C4/261873/Mercadossemanalesporlocalidad.pdf" class="text-white underline">
                            https://www.navarra.es/NR/rdonlyres/0DE85E55-2BA3-497F-B7C0-8862D605B5C4/261873/Mercadossemanalesporlocalidad.pdf  
                          </a>    
                      </p>
                        <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                        <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                        <p><Strong class="underline">Línea de base</Strong>: 76</p>
                        <p><strong class="underline">Meta 2030</strong>: 90</p>
                        <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                      </details>
                      <hr style="background: #FFFFFF; height: 6px;">
                      <!-- Indicador 3 -->
                      <details>
                        <summary><strong>Registro de empresas artesanas.</strong>
                        </summary>
                        <hr style="background: #FFFFFF; height: 3px;">
                          <p><strong class="underline">Descripción</strong>: 
                            Número de empresas dadas de alta en el registro de empresas artesanas de Navarra.

                            0/1/2
                          </p>
                          <p><strong class="underline">Fuentes de origen</strong>: 
                            <a href="https://www.navarra.es/es/tramites/on/-/line/Registro-de-Empresas-Artesanas" class="text-white underline">
                                https://www.navarra.es/es/tramites/on/-/line/Registro-de-Empresas-Artesanas 
                            </a>    
                        </p>
                          <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                          <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                          <p><Strong class="underline">Línea de base</Strong>: 0</p>
                          <p><strong class="underline">Meta 2030</strong>: 2</p>
                          <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                        </details>
                        <hr style="background: #FFFFFF; height: 6px;">
                        <!-- Indicador 4 -->
                        <details>
                          <summary><strong>Apoyo al comercio de proximidad y local.</strong>
                          </summary>
                          <hr style="background: #FFFFFF; height: 3px;">
                            <p><strong class="underline">Descripción</strong>: 
                                Presupuesto asignado al Plan de Comercio Minorista de Proximidad.
                                <a href="https://participa.navarra.es/processes/plan-comercio-minorista-Navarra" class="text-white underline">
                                    https://participa.navarra.es/processes/plan-comercio-minorista-Navarra
                                </a>
                                En €.
                            </p>
                            <p><strong class="underline">Fuentes de origen</strong>: 
                              <a href="http://presupuesto.navarra.es/es/" class="text-white underline">
                                http://presupuesto.navarra.es/es/  
                              </a>    
                          </p>
                            <p><Strong class="underline">Periodicidad</Strong>: 2022/2025/2030.</p>
                            <p><strong class="underline">Acciones de desarrollar</strong>: Proposición de ley.</p>
                            <p><Strong class="underline">Línea de base</Strong>: 8.662.000</p>
                            <p><strong class="underline">Meta 2030</strong>: 10.000.000</p>
                            <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                          </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 6 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento se compromete en sus acciones al consumo de productos y servicios en 
                        entidades locales, de producción ecológica, en entidades con garantía de respeto 
                        de derechos laborales, fomentando el mismo por parte de las administraciones públicas dentro de una campaña más amplia de contratación pública responsable.  
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Contratación pública con claúsulas sociales, ambientales y laborales significativas. </strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>:                         
                            Cuantía contratos públicos en los que la oferta económica sea menos del 50 %.

                            0/1/2
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="https://portalcontratacion.navarra.es/" class="text-white underline">
                            https://portalcontratacion.navarra.es/es/   
                        </a>    
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 7 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento dará su apoyo a campañas de sensibilización ciudadana y educación financiera 
                        desde los criterios de las finanzas éticas y alternativas promoviendo declaraciones institucionales a favor de las mismas. 
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Apoyo a Campañas de sensibilización  y educación sobre finanzas éticas y alternativas.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Número de actividades de sensibilización y educación sobre finanzas éticas.0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: Gobierno de Navarra.
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
            </details>
          </div>
          <!-- End of accordion -->
        </div>      
        <div class="col">
            <img class="rounded img-fluid animate__animated animate__fadeInRight" src="../../../static/img/graficos/ods_12.png">
        </div>
    </div>
</div>

<!-- End of accordion component -->

<div class="panel-footer"></div>

    <!-- end of content -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous"></script>
    <!-- Accordion JS -->
    <script src="../../../static/js/accordion.js"></script>
    <!--  -->
</body>
</html>