<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS 12 Legislativa</title>
    <link rel="icon" type="image/png" href="../../../../../static/img/logo_ods_1.png"/>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
            crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/base.css">
    <link rel="stylesheet" href="../../../static/css/ods.css">
    <!-- end of Bootstrap CDN -->
    <link rel="stylesheet" href="../../../static/css/accordion.css">
</head>
<body>
    <!-- Content -->    
    <div class="panel-title title-div">

         <!-- Navigation menu bar -->
         <nav class="navbar">
          <a href="../.../../../../index.html" class="text-left p-2 nav-menu hover-underline-animation">HOME</a>
          <div class="nav-menu">
              <a href="../../index.html#herramienta-trabajo" class="text-right p-2 hover-underline-animation">Herramienta</a>
              <a href="../../grupo_trabajo.html" class="text-right p-2 hover-underline-animation">Grupo de trabajo</a>
              <a href="../../docs/Pacto-contra-la-Pobreza-cas-2.pdf" class="text-right p-2 hover-underline-animation" target="_blank">Pacto</a>
          </div>
      </nav>
        <!-- end of navigation menu bar -->
    
      <br>
      <br>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="ods-title">ODS 12 - Legislativa</h1>
          <h1 class="ods-title">Producción y consumo responsables</h1>                      
          <br>
          <p class="lead text-white">Garantizar modalidades de consumo y producción sostenibles</p>
          <p>
            <a href="../../../index.html" class="btn btn-secondary my-2">Atrás</a>
            <a href="ods-12-control.html" class="btn btn-primary my-2">Control</a>
            <a href="ods-12-economica.html" class="btn btn-primary my-2">Económica</a>
            <a href="https://www.un.org/sustainabledevelopment/es/cities/" target="_blank" class="btn btn-primary my-2">Más info</a>
          </p>
        </div>
      </section>
        <br>
        <br>
    </div>

    <br>

<!-- Accordiion component -->

<div class="box">
    <div class="row">
        <div class="col">
          <!-- Accordion -->
          <div class="accordion">
            <details>
              <summary><strong class="text-white">PACTO</strong></summary>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 1 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento vigilará la inclusión de cláusulas sociales en la 
                        contratación pública que incluyan criterios de comercio justo y 
                        atención a las condiciones sociales en las cadenas de 
                        producción y suministro o inclusión de herramientas para hacer un 
                        seguimiento de las cláusulas sociales en la contratación pública. 
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Contratación pública en reserva.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        % de contratos publicados en reserva sobre el total del ppto de contratos licitados el año anterior.

                        Indicador A.3.3.2. del II PIES

                        0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="Cuantía de Contratos públicos con clausulas sociales, ambientales/laborales." class="text-white underline">
                            https://portalcontratacion.navarra.es/es/   
                        </a>    
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 2</p>
                      <p><strong class="underline">Meta 2030</strong>: 6 %</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                    <hr style="background: #FFFFFF; height: 6px;">
                    <!-- Indicador 2 -->
                    <details>
                      <summary><strong>Contratación pública con claúsulas sociales, ambientales y laborales.</strong>
                      </summary>
                      <hr style="background: #FFFFFF; height: 3px;">
                        <p><strong class="underline">Descripción</strong>: 
                            Cuantía de Contratos públicos con clausulas sociales, ambientales/laborales.
                        </p>
                        <p><strong class="underline">Fuentes de origen</strong>: 
                          <a href="https://portalcontratacion.navarra.es/es/" class="text-white underline">
                              https://portalcontratacion.navarra.es/es/   
                          </a>    
                      </p>
                        <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                        <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                        <p><Strong class="underline">Línea de base</Strong>: 2 %</p>
                        <p><strong class="underline">Meta 2030</strong>: 6 %</p>
                        <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                      </details>
                </details>
              </details>
            </details>
          </div>
          <!-- End of accordion -->
        </div>      
        <div class="col">
            <img class="rounded img-fluid animate__animated animate__fadeInRight" src="../../../static/img/graficos/ods_12.png">
        </div>
    </div>
</div>

<!-- End of accordion component -->

<div class="panel-footer"></div>

    <!-- end of content -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous"></script>
    <!-- Accordion JS -->
    <script src="../../../static/js/accordion.js"></script>
    <!--  -->
</body>
</html>