@font-face {
  font-family: 'arimoNerdR';
  src: url(../fonts/Arimo/ArimoNerdFont-Regular.ttf);
}

@font-face {
  font-family: 'arimoNerdB';
  src: url(../fonts/Arimo/ArimoNerdFont-Bold.ttf);
}

body {
  font-family: 'arimoNerdR';
}



.nerd-bold {
  font-family: 'arimoNerdB';
}

.my-subtitle {
  color: #383838;
  font-family: 'arimoNerdB';
  font-size: 2em;
}

.text-about {
  font-size: 1.5em;
}

/* NAVIGATION MENU BAR */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #FFFFFF;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.navigation {
    width: 100%;
    height: 90px;
    background-color: #7d8285;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'arimoNerdB';
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
    
}

.nav-menu {
    font-size: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    font-weight: bold;
}

/* End of NAVIGATION MENU BAR */

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .text-title {
    padding-top: 2.5em;
    font-family: 'arimoNerdB';
    color: #FFFFFF;
    font-size: 3.5em;
  }

  .center {
    padding-bottom: 2.5em;
    margin: auto;
    width: 50%;
  }

/* Panels */

.panel-title {
  background-color: #79c48a;
  width: 100%;
  height: auto;
}

.panel-about {
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
  padding-top: 1.5em;
}

  .panel-ods {
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    padding-top: 1.5em;
  }


  .panel-logos {
    background-color: #FFFFFF;
    width: 100%;
    height: 400px;
  }

  .panel-footer {
    background-color: #333333;
    width: 100%;
    height: 200px;
  }


  /* end of panels */

  .title-date {
    text-align: right;
  }

