@font-face {
    font-family: 'arimoNerdR';
    src: url(../fonts/Arimo/ArimoNerdFont-Regular.ttf);
  }
  
  @font-face {
    font-family: 'arimoNerdB';
    src: url(../fonts/Arimo/ArimoNerdFont-Bold.ttf);
  }
  

.ods-title {
    font-family: 'arimoNerdB';
    font-size: 2.3em;
    color: #FFFFFF;
}

.underline {
  border-bottom: 1px solid currentColor;
}

.ods-6 {
  background-color: #27BDE2;
}