<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS 15 Control</title>
    <link rel="icon" type="image/png" href="../../../../../static/img/logo_ods_1.png"/>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
            crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/base.css">
    <link rel="stylesheet" href="../../../static/css/ods.css">
    <!-- end of Bootstrap CDN -->
    <link rel="stylesheet" href="../../../static/css/accordion.css">
</head>
<body>
    <!-- Content -->    
    <div class="panel-title title-div">

         <!-- Navigation menu bar -->
         <nav class="navbar">
          <a href="../.../../../../index.html" class="text-left p-2 nav-menu hover-underline-animation">HOME</a>
          <div class="nav-menu">
              <a href="../../index.html#herramienta-trabajo" class="text-right p-2 hover-underline-animation">Herramienta</a>
              <a href="../../grupo_trabajo.html" class="text-right p-2 hover-underline-animation">Grupo de trabajo</a>
              <a href="../../docs/Pacto-contra-la-Pobreza-cas-2.pdf" class="text-right p-2 hover-underline-animation" target="_blank">Pacto</a>
          </div>
      </nav>
        <!-- end of navigation menu bar -->
    
      <br>
      <br>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="ods-title">ODS 15 - Control</h1>
          <h1 class="ods-title">Vida de ecosistemas terrestres</h1>                      
          <br>
          <p class="lead text-white">Gestionar sosteniblemente los bosques, luchar contra la desertificación, 
            detener e invertir la degradación de las tierras, detener la pérdida de biodiversidad</p>
          <p>
            <a href="../../../index.html" class="btn btn-secondary my-2">Atrás</a>
            <a href="https://www.un.org/sustainabledevelopment/es/biodiversity/" target="_blank" class="btn btn-primary my-2">Más info</a>
          </p>
        </div>
      </section>
        <br>
        <br>
    </div>

    <br>

<!-- Accordiion component -->

<div class="box">
    <div class="row">
        <div class="col">
          <!-- Accordion -->
          <div class="accordion">
            <details>
              <summary><strong class="text-white">PACTO</strong></summary>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 1 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento de Navarra promoverá e impulsará la protección de la Biodiversidad local 
                        de especies autóctonas como factor de resiliencia: bancos de semillas, germoplasma, viveros públicos de especies autóctonas, 
                        control y reducción de insecticidas y fertilizantes químicos en la línea de lo que se establezca en la legislación europea.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Protección biodiversidad.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Superficie del patrimonio natural de Navarra sujeto a una figura de 
                        protección ( ZEC, ZEPA, Parque Natural, Reserva Integral, etc).0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="http://www.navarra.es/home_es/Temas/Medio+Ambiente/Observatorio+Ambiental+de+Navarra.htm"
                        class="text-white underline">
                        <br>
                        • Zonas Especial Conservación (ZEC) 27,1 %
                        <br>
                        • Zonas Especial Protección Aves (ZEPA)  8,3 %
                        <br>
                        • Parques Naturales 6,2 %
                        <br>
                        • Reservas Integrales 0,1 %
                        <br>
                        • Reservas Naturales 0,9 %
                        <br>
                        • Enclaves Naturales 0,1 %
                        <br>
                        • Paisajes Protegidos 1,2 %
                        </a>
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                    <hr style="background: #FFFFFF; height: 6px;">
                    <!-- Indicador 2 -->
                    <details>
                      <summary><strong>Suelo artificial.</strong>
                      </summary>
                      <hr style="background: #FFFFFF; height: 3px;">
                        <p><strong class="underline">Descripción</strong>: 
                            Superficie cubierta con superficies artificiales según eurostat.0/1/2
                        </p>
                        <p><strong class="underline">Fuentes de origen</strong>: 
                          <a href="https://ec.europa.eu/eurostat/databrowser/view/lan_lcv_art/default/table?lang=en"
                          class="text-white underline">
                          https://ec.europa.eu/eurostat/databrowser/view/lan_lcv_art/default/table?lang=en
                          </a>
                      </p>
                        <p><Strong class="underline">Periodicidad</Strong>: Trianual.</p>
                        <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                        <p><Strong class="underline">Línea de base</Strong>: 0</p>
                        <p><strong class="underline">Meta 2030</strong>: 2</p>
                        <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                      </details>
                      <hr style="background: #FFFFFF; height: 6px;">
                      <!-- Indicador 3 -->
                      <details>
                        <summary><strong>Protección de razas.</strong>
                        </summary>
                        <hr style="background: #FFFFFF; height: 3px;">
                          <p><strong class="underline">Descripción</strong>: 
                            Número de razas de ganado autóctonas sujetas a planes específicos de proteccion y promoción.0/1/2
                          </p>
                          <p><strong class="underline">Fuentes de origen</strong>: Razas de ganado autoctono promocionadas (Intia).                
                        </p>
                          <p><Strong class="underline">Periodicidad</Strong>: Trianual.</p>
                          <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                          <p><Strong class="underline">Línea de base</Strong>: 0</p>
                          <p><strong class="underline">Meta 2030</strong>: 2</p>
                          <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                        </details>
                        <hr style="background: #FFFFFF; height: 6px;">
                        <!-- Indicador 4 -->
                        <details>
                          <summary><strong>Protección de variedades.</strong>
                          </summary>
                          <hr style="background: #FFFFFF; height: 3px;">
                            <p><strong class="underline">Descripción</strong>: 
                                Número de plantas registradas en la guía de variedades locales cultivadas de Navarra.
                            </p>
                            <p><strong class="underline">Fuentes de origen</strong>: 
                              <a href="https://lifenadapta.navarra.es/es/repositorio-documental/-/document_library/A0PbQJ8w0mQF/view_file/15868715"
                              class="text-white underline">
                              https://lifenadapta.navarra.es/es/repositorio-documental/-/document_library/A0PbQJ8w0mQF/view_file/15868715
                            </a>
                          </p>
                            <p><Strong class="underline">Periodicidad</Strong>: Trianual.</p>
                            <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                            <p><Strong class="underline">Línea de base</Strong>: 64</p>
                            <p><strong class="underline">Meta 2030</strong>: 100</p>
                            <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                          </details>
                          <hr style="background: #FFFFFF; height: 6px;">
                          <!-- Indicador 5 -->
                          <details>
                            <summary><strong>Número de variedades de vegetales entregados a bancos de germoplasma.</strong>
                            </summary>
                            <hr style="background: #FFFFFF; height: 3px;">
                              <p><strong class="underline">Descripción</strong>: 
                                Número de variedades entregadas a bancos de germoplasma (Zaragoza-CSIC).0/1/2
                              </p>
                              <p><strong class="underline">Fuentes de origen</strong>: Bancos de germoplasma.
                            </p>
                              <p><Strong class="underline">Periodicidad</Strong>: Trianual.</p>
                              <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                              <p><Strong class="underline">Línea de base</Strong>: 0</p>
                              <p><strong class="underline">Meta 2030</strong>: 2</p>
                              <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                            </details>
                            <hr style="background: #FFFFFF; height: 6px;">
                            <!-- Indicador 6 -->
                            <details>
                              <summary><strong>Consumo de pesticidas por producción agraria.</strong>
                              </summary>
                              <hr style="background: #FFFFFF; height: 3px;">
                                <p><strong class="underline">Descripción</strong>: 
                                    Kg de pesticida por hectárea.
                                </p>
                                <p><strong class="underline">Fuentes de origen</strong>: Datos reportados por el cuaderno de campo digital de cada agricultor 
                                    obligatorio a partir de enero 2024.
                              </p>
                                <p><Strong class="underline">Periodicidad</Strong>: Trianual.</p>
                                <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                                <p><Strong class="underline">Línea de base</Strong>: 5,5</p>
                                <p><strong class="underline">Meta 2030</strong>: 2,75</p>
                                <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                              </details>
                              <hr style="background: #FFFFFF; height: 6px;">
                              <!-- Indicador 7 -->
                              <details>
                                <summary><strong>Utilización de fertilizantes.</strong>
                                </summary>
                                <hr style="background: #FFFFFF; height: 3px;">
                                  <p><strong class="underline">Descripción</strong>: 
                                    Consumo total de fertilizantes minerales. En kg de fertilizantes por hectarea.
                                  </p>
                                  <p><strong class="underline">Fuentes de origen</strong>: Datos reportados por el cuaderno de campo digital 
                                    de cada agricultor obligatorio a partir de enero 2024.
                                </p>
                                  <p><Strong class="underline">Periodicidad</Strong>: Trianual.</p>
                                  <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o solicitud de información.</p>
                                  <p><Strong class="underline">Línea de base</Strong>: 152</p>
                                  <p><strong class="underline">Meta 2030</strong>: 121,6</p>
                                  <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                                </details>
                </details>
              </details>
            </details>
          </div>
          <!-- End of accordion -->
        </div>      
        <div class="col">
            <img class="rounded img-fluid animate__animated animate__fadeInRight" src="../../../static/img/graficos/ods_15.png">
        </div>
    </div>
</div>

<!-- End of accordion component -->

<div class="panel-footer"></div>

    <!-- end of content -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous"></script>
    <!-- Accordion JS -->
    <script src="../../../static/js/accordion.js"></script>
    <!--  -->
</body>
</html>