<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="accordion.css">
</head>
<body>

    <!DOCTYPE html>
<html>
<head>
	<title>Accordion</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="body" id="body__wrapper">
	<div class="page__wrapper">
		<h1 class="heading">FUNCIONES ODS 6</h1>
		<div class="accordion">
			<details>
                <summary class="verde"><b class="text-white">PACTO</b></summary>
                <hr style="background: #96BEB4;">
                <details>
                    <summary>El Parlamento velará por que el Plan Director del Ciclo Integral del Agua de Uso Urbano se desarrolle de 
                        forma conjunta entre Gobierno y las comarcas involucradas para la inclusión de los pozos en el listado de 
                        fuentes de abastecimiento sujetas a protección y seguimiento con el objetivo de evitar nuevas contaminaciones 
                        y conseguir su buen estado en un plazo de 20 años. 
                    </summary>
                    <hr style="background: #96BEB4;">
                    <details>
                        <summary>INDICADORES</summary>
                        <hr style="background: #96BEB4;">
                        <details>
                            <summary>INDICADOR 2</summary>
                            <hr style="background: #96BEB4;">
                            <p>This generator doesn't include most common questions. The thought is that you can come up with common questions on your own so most of the questions in this generator are questions that elicit a bit more information that a typical common question.</p>
                          </details>
                          <details>
                            <summary>INDICADOR 3</summary>
                            <p>This generator doesn't include most common questions. The thought is that you can come up with common questions on your own so most of the questions in this generator are questions that elicit a bit more information that a typical common question.</p>
                          </details>
                          <details>
                            <summary>INDICADOR 4</summary>
                            <p>This generator doesn't include most common questions. The thought is that you can come up with common questions on your own so most of the questions in this generator are questions that elicit a bit more information that a typical common question.</p>
                          </details>
                    </details>
                </details>
			</details>

			<details>
			  <summary>Do you include common questions?</summary>
			  <p>This generator doesn't include most common questions. The thought is that you can come up with common questions on your own so most of the questions in this generator are questions that elicit a bit more information that a typical common question.</p>
			</details>
			<details>
			  <summary>Can I use this for 21 questions?</summary>
			  <p>Yes! there are two ways that you can use this question generator depending on what you're after. You can indicate that you want 21 questions generated and you'll instantly have a random list of 21 questions to use. If you want to curate the 21 questions to use, you can spend some time on the generator until you find 21 questions you like, then use those the next time you play the 21 questions game.</p>
			</details>
			<details>
			  <summary>Are these questions for girls or for boys?</summary>
			  <p>The questions in this generator are gender neutral and can be used to ask either male of females (or any other gender the person identifies with). These questions were created to elicit interesting and thoughtful answers and aren't specific to a specific type of person.</p>
			</details>
		</div>
	</div>
</body>

<script type="text/javascript" src="index.js"></script>
</html>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
</body>
</html>

