<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS 8 Control</title>
    <link rel="icon" type="image/png" href="../../../../../static/img/logo_ods_1.png"/>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
            crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/base.css">
    <link rel="stylesheet" href="../../../static/css/ods.css">
    <!-- end of Bootstrap CDN -->
    <link rel="stylesheet" href="../../../static/css/accordion.css">
</head>
<body>
    <!-- Content -->    
    <div class="panel-title title-div">

         <!-- Navigation menu bar -->
         <nav class="navbar">
          <a href="../.../../../../index.html" class="text-left p-2 nav-menu hover-underline-animation">HOME</a>
          <div class="nav-menu">
              <a href="../../index.html#herramienta-trabajo" class="text-right p-2 hover-underline-animation">Herramienta</a>
              <a href="../../grupo_trabajo.html" class="text-right p-2 hover-underline-animation">Grupo de trabajo</a>
              <a href="../../docs/Pacto-contra-la-Pobreza-cas-2.pdf" class="text-right p-2 hover-underline-animation" target="_blank">Pacto</a>
          </div>
      </nav>
        <!-- end of navigation menu bar -->
    
      <br>
      <br>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="ods-title">ODS 8 - Control</h1>
          <h1 class="ods-title">Trabajo decente y crecimiento económico</h1>                      
          <br>
          <p class="lead text-white">Promover el crecimiento económico inclusivo y sostenible, el empleo y el trabajo decente para todos</p>
          <p>
            <a href="../../../index.html" class="btn btn-secondary my-2">Atrás</a>
            <a href="ods-08-economica.html" class="btn btn-primary my-2">Económica</a>
            <a href="https://www.un.org/sustainabledevelopment/es/hunger/" target="_blank" class="btn btn-primary my-2">Más info</a>
          </p>
        </div>
      </section>
        <br>
        <br>
    </div>

    <br>

<!-- Accordiion component -->

<div class="box">
    <div class="row">
        <div class="col">
          <!-- Accordion -->
          <div class="accordion">
            <details>
              <summary><strong class="text-white">PACTO</strong></summary>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 1 -->
              <details>
                <summary>
                    <strong>
                        Anualmente el Parlamento solicitará información sobre la implementación del 
                        artículo 36 de Ley Foral 2/2018, de Contratos Públicos, que establece la reserva del 6% de los contratos públicos a Entidades Sociales.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Supervisión de los contratos reservados.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        ¿Se ha solicitado el informe anual de 
                        supervisión del cumplimiento de la cuota 
                        de reserva a Centros Especiales de Empleo
                        y Empresas de Inserción Social?
                        0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="https://portalcontratacion.navarra.es/" class="text-white underline">
                            https://portalcontratacion.navarra.es/
                        </a>
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 2 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento promoverá el desarrollo de líneas para la consolidación de 
                        empresas de economía social y solidaria mediante recursos en red, gestión 
                        comunitaria y espacios de facilitación de trabajo en red de los agentes 
                        implicados en la comunidad en la que se encuentran, formación y  asesoramiento, 
                        estrategias de comercialización... Apoyará en su caso, procesos de recuperación y 
                        transformación empresarial hacia fi guras de la economía social y solidaria. 
                        Se impulsará el equipamiento de referencia de fomento de la economía social y 
                        solidaria para la ciudadanía y para los agentes económicos locales: polos empresariales 
                        y cámaras de comercio de economía social y  solidaria, escuelas y programas de emprendizaje 
                        social, ateneos y espacios de desarrollo cooperativo, establecimiento de redes de colaboración entre mancomunidades y 
                        municipios en sectores estratégicos como las energías renovables, las finanzas éticas, la soberanía alimentaria y el consumo responsable.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Nuevas empresas de economía social y solidaria.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Número de nuevas empresas/entidades creadas.0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="https://economiasocialnavarra.com/eu/hasiera/" class="text-white underline">
                            https://economiasocialnavarra.com/eu/hasiera/
                        </a>
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                    <hr style="background: #FFFFFF; height: 6px;">
                    <!-- Indicador 2 -->
                    <details>
                      <summary><strong>Empleo generado.</strong>
                      </summary>
                      <hr style="background: #FFFFFF; height: 3px;">
                        <p><strong class="underline">Descripción</strong>: 
                            Número de empleos generados en las nuevas empresas creadas.
                            0/1/2
                        </p>
                        <p><strong class="underline">Fuentes de origen</strong>: 
                            <a href="https://economiasocialnavarra.com/eu/hasiera/" class="text-white underline">
                                https://economiasocialnavarra.com/eu/hasiera/
                            </a>
                      </p>
                        <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                        <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                        <p><Strong class="underline">Línea de base</Strong>: 0</p>
                        <p><strong class="underline">Meta 2030</strong>: 2</p>
                        <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                      </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 3 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento garantizará que en el próximo Plan de Empleo para Navarra  se 
                        incorporen medidas tendentes a la incorporación social de las personas  en 
                        situación de exclusión social; reforzará la inversión en ayudas a empresas 
                        y entidades por parte del SNE-NL para el fomento de la contratación como 
                        política que favorezca empleo dirigido a la población más vulnerable. Garantizar 
                        la incorporación laboral de las personas en situación de exclusión social pasa por 
                        realizar acciones formativas que incrementen su empleabilidad, acciones tendentes a 
                        reducir la brecha y analfabetismo digital e itinerarios personalizados 
                        e integrales de inserción socio-laboral así como el refuerzo de los procesos de 
                        acompañamiento social y modelos mixtos de formación y empleo.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Ayudas a la contracción para empresas y entidades sociales.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Variación porcentual del presupuesto de SNE-NL destinado a subvencionar los empleos de 
                        personas con mayores dificultades de acceso al mercado laboral en relación con el año anterior.0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: El Servicio Navarro de Empleo-Nafar Lansare
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                    <hr style="background: #FFFFFF; height: 6px;">
                    <!-- Indicador 2 -->
                    <details>
                      <summary><strong>Empleo directo subvencionado.</strong>
                      </summary>
                      <hr style="background: #FFFFFF; height: 3px;">
                        <p><strong class="underline">Descripción</strong>: 
                            Evolución de los puestos subvencionados por el SNE-NL a la contratación a
                            personas con dificultades de inserción o discapacidad.

                            0/1/2
                        </p>
                        <p><strong class="underline">Fuentes de origen</strong>: El Servicio Navarro de Empleo-Nafar Lansare.
                      </p>
                        <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                        <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                        <p><Strong class="underline">Línea de base</Strong>: 0</p>
                        <p><strong class="underline">Meta 2030</strong>: 2</p>
                        <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                      </details>
                      <hr style="background: #FFFFFF; height: 6px;">
                      <!-- Indicador 3 -->
                      <details>
                        <summary><strong>Acciones formativas.</strong>
                        </summary>
                        <hr style="background: #FFFFFF; height: 3px;">
                          <p><strong class="underline">Descripción</strong>: 
                            Número de acciones formativas en competencias digitales dirigidas a colectivos vulnerables para mejorar su empleabilidad.

                            0/1/2
                          </p>
                          <p><strong class="underline">Fuentes de origen</strong>: El Servicio Navarro de Empleo-Nafar Lansare.
                        </p>
                          <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                          <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                          <p><Strong class="underline">Línea de base</Strong>: 0</p>
                          <p><strong class="underline">Meta 2030</strong>: 2</p>
                          <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                        </details>
                        <hr style="background: #FFFFFF; height: 6px;">
                        <!-- Indicador 4 -->
                        <details>
                          <summary><strong>Porcentaje de inserción laboral.</strong>
                          </summary>
                          <hr style="background: #FFFFFF; height: 3px;">
                            <p><strong class="underline">Descripción</strong>: 
                                % de las personas participantes en las acciones formativas insertados en el mercado laboral.

                                0/1/2
                            </p>
                            <p><strong class="underline">Fuentes de origen</strong>: El Servicio Navarro de Empleo-Nafar Lansare.
                          </p>
                            <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                            <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                            <p><Strong class="underline">Línea de base</Strong>: 0</p>
                            <p><strong class="underline">Meta 2030</strong>: 2</p>
                            <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                          </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 4 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento de Navarra solicitará al Gobierno de Navarra un informe relativo a 
                        sus relaciones comerciales que garantice que ninguna empresa navarra, ni empresas 
                        con las que se mantienen acuerdos, incumplan el derecho a un trabajo digno y a la Declaración Universal 
                        de los Derechos de los niños y niñas; así como que dichas relaciones comerciales, 
                        si son internacionales, no pervierten las economías locales.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Informes de sostenibilidad empresarial.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Solicitud informe de sostenibilidad anual en el que se especifiquen todos los detalles relativos a la sostenibilidad empresarial.
                        0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: Gobierno de Navarra
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 5 -->
              <details>
                <summary>
                    <strong>
                        Desde el Parlamento se instará a la Cámara de Comptos a 
                        realizar auditorías públicas y participativas de la gestión 
                        económica de las instituciones y a garantizar instrumentos de 
                        control y transparencia, así como la utilización de 
                        indicadores  deauditoría social para la medición del desarrollo 
                        local y la adecuación de las políticas públicas al servicio del bien común.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Auditoria Social.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Seguimiento del informe de auditoría sobre el desarrollo local y la adecuación de las políticas públicas.
                        0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="https://camaradecomptos.navarra.es/es" class="text-white underline">
                            https://camaradecomptos.navarra.es/es
                        </a>
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
            </details>
          </div>
          <!-- End of accordion -->
        </div>      
        <div class="col">
            <img class="rounded img-fluid animate__animated animate__fadeInRight" src="../../../static/img/ejemplo_grafico.png">
        </div>
    </div>
</div>

<!-- End of accordion component -->

<div class="panel-footer"></div>

    <!-- end of content -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous"></script>
    <!-- Accordion JS -->
    <script src="../../../static/js/accordion.js"></script>
    <!--  -->
</body>
</html>