<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS 10 Control</title>
    <link rel="icon" type="image/png" href="../../../../../static/img/logo_ods_1.png"/>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
            crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/base.css">
    <link rel="stylesheet" href="../../../static/css/ods.css">
    <!-- end of Bootstrap CDN -->
    <link rel="stylesheet" href="../../../static/css/accordion.css">
</head>
<body>
    <!-- Content -->    
    <div class="panel-title title-div">

         <!-- Navigation menu bar -->
         <nav class="navbar">
          <a href="../.../../../../index.html" class="text-left p-2 nav-menu hover-underline-animation">HOME</a>
          <div class="nav-menu">
              <a href="../../index.html#herramienta-trabajo" class="text-right p-2 hover-underline-animation">Herramienta</a>
              <a href="../../grupo_trabajo.html" class="text-right p-2 hover-underline-animation">Grupo de trabajo</a>
              <a href="../../docs/Pacto-contra-la-Pobreza-cas-2.pdf" class="text-right p-2 hover-underline-animation" target="_blank">Pacto</a>
          </div>
      </nav>
        <!-- end of navigation menu bar -->
    
      <br>
      <br>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="ods-title">ODS 10 - Control</h1>
          <h1 class="ods-title">Reducción de las desigualdades</h1>                      
          <br>
          <p class="lead text-white">Reducir la desigualdad en y entre los países</p>
          <p>
            <a href="../../../index.html" class="btn btn-secondary my-2">Atrás</a>
            <a href="ods-10-legislativa.html" class="btn btn-primary my-2">Legislativa</a>
            <a href="ods-10-economica.html" class="btn btn-primary my-2">Económica</a>
            <a href="https://www.un.org/sustainabledevelopment/es/inequality/" target="_blank" class="btn btn-primary my-2">Más info</a>
          </p>
        </div>
      </section>
        <br>
        <br>
    </div>

    <br>

<!-- Accordiion component -->

<div class="box">
    <div class="row">
        <div class="col">
          <!-- Accordion -->
          <div class="accordion">
            <details>
              <summary><strong class="text-white">PACTO</strong></summary>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 1 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento promoverá acciones que fortalezcan el sistema de servicios sociales 
                        (públicos y privados) para fomentar el ejercicio del Derecho a la Inclusión de todas las personas en Navarra.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Presupuesto servicios sociales.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Incrementar la dotación del presupuesto de servicios sociales.0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="https://www.navarra.es/es/gobierno-de-navarra/presupuestos-generales/-/document_library/1b6wWhKtlNxg/view_file/24014832?_com_liferay_document_library_web_portlet_DLPortlet_INSTANCE_1b6wWhKtlNxg_redirect=https%3A%2F%2Fwww.navarra.es%2Fes%2Fgobierno-de-navarra%2Fpresupuestos-generales%2F-%2Fdocument_library%2F1b6wWhKtlNxg%2Fview%2F15115131%3F_com_liferay_document_library_web_portlet_DLPortlet_INSTANCE_1b6wWhKtlNxg_redirect%3Dhttps%253A%252F%252Fwww.navarra.es%252Fes%252Fgobierno-de-navarra%252Fpresupuestos-generales%253Fp_p_id%253Dcom_liferay_document_library_web_portlet_DLPortlet_INSTANCE_1b6wWhKtlNxg%2526p_p_lifecycle%253D0%2526p_p_state%253Dnormal%2526p_p_mode%253Dview"
                            class="text-white underline">
                            https://www.navarra.es/es/gobierno-de-navarra/presupuestos-generales/-/document_library/1b6wWhKtlNxg/view_file/24014832?_com_liferay_document_library_web_portlet_DLPortlet_INSTANCE_1b6wWhKtlNxg_redirect=https%3A%2F%2Fwww.navarra.es%2Fes%2Fgobierno-de-navarra%2Fpresupuestos-generales%2F-%2Fdocument_library%2F1b6wWhKtlNxg%2Fview%2F15115131%3F_com_liferay_document_library_web_portlet_DLPortlet_INSTANCE_1b6wWhKtlNxg_redirect%3Dhttps%253A%252F%252Fwww.navarra.es%252Fes%252Fgobierno-de-navarra%252Fpresupuestos-generales%253Fp_p_id%253Dcom_liferay_document_library_web_portlet_DLPortlet_INSTANCE_1b6wWhKtlNxg%2526p_p_lifecycle%253D0%2526p_p_state%253Dnormal%2526p_p_mode%253Dview
                        </a>
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Proposición de ley.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 2 -->
              <details>
                <summary>
                    <strong>
                        El Parlamento se compromete a dotar de medios adecuados a los Servicios Sociales de Base a la demanda social prevista puesto que constituyen la unidad básica del Sistema Público de Servicios Sociales. En este sentido, recordar que el Decreto de Financiación de Servicios Sociales fue planteado bajo un diagnóstico social distinto del panorama que se prevé de manera inmediata.
                        http://www.lexnavarra.navarra.es/detalle.asp?r=52931  
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Presupuesto servicios sociales de base.</strong></summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        % Presupuesto servicios sociales de base/Presupuesto servicios sociales 0/1/2
                      </p>  
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="https://www.navarra.es/es/gobierno-de-navarra/presupuestos-generales/-/document_library/1b6wWhKtlNxg/view_file/24014832?_com_liferay_document_library_web_portlet_DLPortlet_INSTANCE_1b6wWhKtlNxg_redirect=https%3A%2F%2Fwww.navarra.es%2Fes%2Fgobierno-de-navarra%2Fpresupuestos-generales%2F-%2Fdocument_library%2F1b6wWhKtlNxg%2Fview%2F15115131%3F_com_liferay_document_library_web_portlet_DLPortlet_INSTANCE_1b6wWhKtlNxg_redirect%3Dhttps%253A%252F%252Fwww.navarra.es%252Fes%252Fgobierno-de-navarra%252Fpresupuestos-generales%253Fp_p_id%253Dcom_liferay_document_library_web_portlet_DLPortlet_INSTANCE_1b6wWhKtlNxg%2526p_p_lifecycle%253D0%2526p_p_state%253Dnormal%2526p_p_mode%253Dview"
                            class="text-white underline">
                            https://www.navarra.es/es/gobierno-de-navarra/presupuestos-generales/-/document_library/1b6wWhKtlNxg/view_file/24014832?_com_liferay_document_library_web_portlet_DLPortlet_INSTANCE_1b6wWhKtlNxg_redirect=https%3A%2F%2Fwww.navarra.es%2Fes%2Fgobierno-de-navarra%2Fpresupuestos-generales%2F-%2Fdocument_library%2F1b6wWhKtlNxg%2Fview%2F15115131%3F_com_liferay_document_library_web_portlet_DLPortlet_INSTANCE_1b6wWhKtlNxg_redirect%3Dhttps%253A%252F%252Fwww.navarra.es%252Fes%252Fgobierno-de-navarra%252Fpresupuestos-generales%253Fp_p_id%253Dcom_liferay_document_library_web_portlet_DLPortlet_INSTANCE_1b6wWhKtlNxg%2526p_p_lifecycle%253D0%2526p_p_state%253Dnormal%2526p_p_mode%253Dview
                        </a>
                      </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
            </details>
          </div>
          <!-- End of accordion -->
        </div>      
        <div class="col">
            <img class="rounded img-fluid animate__animated animate__fadeInRight" src="../../../static/img/graficos/ods_10.png">
        </div>
    </div>
</div>

<!-- End of accordion component -->

<div class="panel-footer"></div>

    <!-- end of content -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous"></script>
    <!-- Accordion JS -->
    <script src="../../../static/js/accordion.js"></script>
    <!--  -->
</body>
</html>