<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS 7 Control</title>
    <link rel="icon" type="image/png" href="../../../../../static/img/logo_ods_1.png"/>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
            crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/base.css">
    <link rel="stylesheet" href="../../../static/css/ods.css">
    <!-- end of Bootstrap CDN -->
    <link rel="stylesheet" href="../../../static/css/accordion.css">
</head>
<body>
    <!-- Content -->    
    <div class="panel-title title-div">

         <!-- Navigation menu bar -->
         <nav class="navbar">
          <a href="../.../../../../index.html" class="text-left p-2 nav-menu hover-underline-animation">HOME</a>
          <div class="nav-menu">
              <a href="../../index.html#herramienta-trabajo" class="text-right p-2 hover-underline-animation">Herramienta</a>
              <a href="../../grupo_trabajo.html" class="text-right p-2 hover-underline-animation">Grupo de trabajo</a>
              <a href="../../docs/Pacto-contra-la-Pobreza-cas-2.pdf" class="text-right p-2 hover-underline-animation" target="_blank">Pacto</a>
          </div>
      </nav>
        <!-- end of navigation menu bar -->
    
      <br>
      <br>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="ods-title">ODS 7 - Control</h1>
          <h1 class="ods-title">Energía asequible y no contaminante</h1>                      
          <br>
          <p class="lead text-white"> Garantizar el acceso a una energía asequible, segura, sostenible y moderna</p>
          <p>
            <a href="../../../index.html" class="btn btn-secondary my-2">Atrás</a>
            <a href="ods-07-legislativa.html" class="btn btn-primary my-2">Legislativa</a>
            <a href="https://www.un.org/sustainabledevelopment/es/energy/" target="_blank" class="btn btn-primary my-2">Más info</a>
          </p>
        </div>
      </section>
        <br>
        <br>
    </div>

    <br>

<!-- Accordiion component -->

<div class="box">
    <div class="row">
        <div class="col">
          <!-- Accordion -->
          <div class="accordion">
            <details>
              <summary><strong class="text-white">PACTO</strong></summary>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 1 -->
              <details>
                <summary>
                    <strong>
                      El Parlamento revisará e instará a las instituciones estatales a revisar el 
                      Plan Nacional Integrado de Economía y Clima, para incluir las medidas que 
                      establecen las Directivas Europeas de eficiencia energética de edificios, 
                      de energías renovables, del mercado interior de la electricidad 
                      y el Reglamento de Gobernanza de la Unión de la Energía y de la Acción Climática, 
                      comprometiéndose a incorporarlas al ordenamiento jurídico navarro.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Ley foral de cambio climático y transición energética.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Aprobación de la nueva Ley de cambio climático y transición energética (aprobada la Ley Foral 4/2022, de 22 de marzo).
                        0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="https://www.boe.es/buscar/pdf/2022/BOE-A-2022-6402-consolidado.pdf" class="text-white underline">
                          https://www.boe.es/buscar/pdf/2022/BOE-A-2022-6402-consolidado.pdf
                        </a>    
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Única.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Proposición de ley.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 2</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 2 -->
              <details>
                <summary>
                    <strong>
                      El Parlamento promoverá la aceleración de la transición energética desde los combustibles fósiles hacia un modelo 100% renovable 
                      y lo más eficiente posible, sin emisiones contaminantes, apostando decididamente por el autoconsumo a través de políticas públicas regionales y locales.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Energías renovables.</strong></summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Cuota de EERR en el consumo final bruto de energía.

                      </p>  
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="https://s4navarra.es/" class="text-white underline">
                          https://s4navarra.es/
                        </a>
                      </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 21,41 %</p>
                      <p><strong class="underline">Meta 2030</strong>: 50 %</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                    <hr style="background: #FFFFFF; height: 6px;">
                    <!-- Indicador 2 -->
                    <details>
                      <summary><strong>Producción eléctrica con EE.RR.</strong></summary>
                      <hr style="background: #FFFFFF; height: 3px;">
                        <p><strong class="underline">Descripción</strong>: 
                          Producción eléctrica con EE.RR./consumo total de electricidad.
                        </p>  
                        <p><strong class="underline">Fuentes de origen</strong>: 
                          <a href="http://www.navarra.es/home_es/Temas/Empleo+y+Economia/Energia/I-balancesenergeticosnavarra.htm"
                            class="text-white underline">
                            http://www.navarra.es/home_es/Temas/Empleo+y+Economia/Energia/I-balancesenergeticosnavarra.htm
                          </a>
                          
                        </p>
                        <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                        <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                        <p><Strong class="underline">Línea de base</Strong>: 76,93%</p>
                        <p><strong class="underline">Meta 2030</strong>: 80 %</p>
                        <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                      </details>
                      <hr style="background: #FFFFFF; height: 6px;">
                      <!-- Indicador 3 -->
                      <details>
                        <summary><strong>Emisiones evitadas de CO2.</strong></summary>
                        <hr style="background: #FFFFFF; height: 3px;">
                          <p><strong class="underline">Descripción</strong>: 
                            Emisiones de CO2 evitadas por generación eléctrica renovable.En Tm.
                          </p>  
                          <p><strong class="underline">Fuentes de origen</strong>: 
                            <a href="https://www.navarra.es/es/medio-ambiente/inventario-de-gases-de-efecto-invernadero" class="text-white underline">
                              https://www.navarra.es/es/medio-ambiente/inventario-de-gases-de-efecto-invernadero
                            </a>
                          </p>
                          <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                          <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                          <p><Strong class="underline">Línea de base</Strong>: 937,354</p>
                          <p><strong class="underline">Meta 2030</strong>: 0</p>
                          <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                        </details>
                        <hr style="background: #FFFFFF; height: 6px;">
                        <!-- Indicador 4 -->
                        <details>
                          <summary><strong>Gases de efecto invernadero (GEI).</strong></summary>
                          <hr style="background: #FFFFFF; height: 3px;">
                            <p><strong class="underline">Descripción</strong>: 
                              Emisiones directas junto con emisiones derivadas de la generación y consumo de energía eléctrica.

                              Millones de Toneladas CO2-eq.
                            </p>  
                            <p><strong class="underline">Fuentes de origen</strong>: 
                              <a href="https://www.navarra.es/es/medio-ambiente/inventario-de-gases-de-efecto-invernadero" class="text-white underline">
                                https://www.navarra.es/es/medio-ambiente/inventario-de-gases-de-efecto-invernadero
                              </a>
                            </p>
                            <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                            <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                            <p><Strong class="underline">Línea de base</Strong>: 5,5</p>
                            <p><strong class="underline">Meta 2030</strong>: 0</p>
                            <p><strong class="underline">Organismo responsable</strong>: Gobierno de Navarra.</p>
                          </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 3 -->
              <details>
                <summary>
                    <strong>
                      El Parlamento impulsará el reconocimiento del Derecho a la Energía 
                      como Derecho Fundamental de las personas como medio para desarrollar 
                      otros tantos derechos reconocidos (salud, educación, entorno adecuado…).
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Viviendas rehabilitadas energéticamente.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Previsión anual de viviendas rehabilitadas energéticamente.0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: 
                        <a href="https://www.navarra.es/es/gobierno-de-navarra/departamento-de-ordenacion-del-territorio-vivienda-paisaje-y-proyectos-estrategicos"
                          class="text-white underline">
                          https://www.navarra.es/es/gobierno-de-navarra/departamento-de-ordenacion-del-territorio-vivienda-paisaje-y-proyectos-estrategicos
                        </a>
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                    <hr style="background: #FFFFFF; height: 6px;">
                    <!-- Indicador 2 -->
                    <details>
                      <summary><strong>Intensidad energética final per cápita.</strong>
                      </summary>
                      <hr style="background: #FFFFFF; height: 3px;">
                        <p><strong class="underline">Descripción</strong>: 
                          Consumo final de energía en los hogares per cápita (TEP/habitante).
                        </p>
                        <p><strong class="underline">Fuentes de origen</strong>: 
                          <a href="http://www.navarra.es/home_es/Temas/Empleo+y+Economia/Energia/I-balancesenergeticosnavarra.htm"
                            class="text-white underline">
                            http://www.navarra.es/home_es/Temas/Empleo+y+Economia/Energia/I-balancesenergeticosnavarra.htm
                          </a>
                      </p>
                        <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                        <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                        <p><Strong class="underline">Línea de base</Strong>: 2,98</p>
                        <p><strong class="underline">Meta 2030</strong>: 0</p>
                        <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                      </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 4 -->
              <details>
                <summary>
                    <strong>
                      El Parlamento impulsará una auditoría energética en el territorio para el desarrollo 
                      de un plan de racionalización del consumo en los niveles doméstico, industrial y público. 
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Auditoría energética (industrial, hogar, público)</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Estudio sobre el mercado de la eficiencia energética en Navarra.0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: Realización del estudio.
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Única.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Moción.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 5 -->
              <details>
                <summary>
                    <strong>
                      El Parlamento evaluará las medidas de intervención sobre la pobreza energética y, en su caso, promoverá acciones de mejora.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Iniciativas Parlamentarias</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Promoción de medidas sobre pobreza energética.0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: Gobierno de Navarra.
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Trianual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Proposición de ley.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 1</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
              <hr style="background: #FFFFFF; height: 12px;">
              <!-- Pacto 6 -->
              <details>
                <summary>
                    <strong>
                      El Parlamento de Navarra solicitará al Gobierno de Navarra un informe relativo a 
                      sus relaciones comerciales en el ámbito energético, para garantizar que las empresas navarras 
                      con las que mantiene acuerdos no realizan en países de América Latina, África y Asia acciones abusivas que fomentan la pobreza energética.
                    </strong>
                </summary>
                <hr style="background: #FFFFFF; height: 9px;">
                <details>
                  <summary><strong class="text-white">INDICADORES</strong></summary>
                  <hr style="background: #FFFFFF; height: 6px;">
                  <!-- Indicador 1 -->
                  <details>
                    <summary><strong>Solicitud informe.</strong>
                    </summary>
                    <hr style="background: #FFFFFF; height: 3px;">
                      <p><strong class="underline">Descripción</strong>: 
                        Solicitud de un informe sobre acciones abusivas por parte de las empresas navarras que fomentan la pobreza energética.0/1/2
                      </p>
                      <p><strong class="underline">Fuentes de origen</strong>: Gobierno de Navarra.
                    </p>
                      <p><Strong class="underline">Periodicidad</Strong>: Anual.</p>
                      <p><strong class="underline">Acciones de desarrollar</strong>: Pregunta parlamentaria o petición de información.</p>
                      <p><Strong class="underline">Línea de base</Strong>: 0</p>
                      <p><strong class="underline">Meta 2030</strong>: 2</p>
                      <p><strong class="underline">Organismo responsable</strong>: Grupos parlamentarios</p>
                    </details>
                </details>
              </details>
            </details>
          </div>
          <!-- End of accordion -->
        </div>      
        <div class="col">
            <img class="rounded img-fluid animate__animated animate__fadeInRight" src="../../../static/img/ejemplo_grafico.png">
        </div>
    </div>
</div>

<!-- End of accordion component -->

<div class="panel-footer"></div>

    <!-- end of content -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
            crossorigin="anonymous"></script>
    <!-- Accordion JS -->
    <script src="../../../static/js/accordion.js"></script>
    <!--  -->
</body>
</html>